# Shrinking_Layer_DDR_Test 폴더 안의 모든 파일/폴더 무시
Shrinking_Layer_DDR_Test/**

# Shrinking_Layer_DDR_Test 폴더 자체는 포함
!Shrinking_Layer_DDR_Test/

# 예외적으로 포함할 항목들
!Shrinking_Layer_DDR_Test/*.xpr
!Shrinking_Layer_DDR_Test/Shrinking_Layer_DDR_Test.srcs/
!Shrinking_Layer_DDR_Test/Shrinking_Layer_DDR_Test.srcs/**
!Shrinking_Layer_DDR_Test/workspace/
!Shrinking_Layer_DDR_Test/workspace/**

# Vivado 자동 생성 폴더 무시
*.jou
*.log
*.str
.runs/
.cache/
.hw/
.gen/
.Xil/
webtalk/
